In [3]:
import numpy as np
import pandas as pd

In [8]:
key_1=pd.read_csv(r"D:\Rohan\ML\Datasets\web-traffic-time-series-forecasting\key_1.csv")

In [9]:
key_2=pd.read_csv(r"D:\Rohan\ML\Datasets\web-traffic-time-series-forecasting\key_2.csv")

sample_submission_1=pd.read_csv(r"D:\Rohan\ML\Datasets\web-traffic-time-series-forecasting\sample_submission_1.csv")
sample_submission_2=pd.read_csv(r"D:\Rohan\ML\Datasets\web-traffic-time-series-forecasting\sample_submission_2.csv")

train_1=pd.read_csv(r"D:\Rohan\ML\Datasets\web-traffic-time-series-forecasting\train_1.csv")
train_2=pd.read_csv(r"D:\Rohan\ML\Datasets\web-traffic-time-series-forecasting\train_2.csv")

In [14]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [19]:
key_1.head()
key_1["Page"][1]
key_1.shape

key_2.head()
key_2["Page"][1]
key_2.shape

                                                Page            Id
0  !vote_en.wikipedia.org_all-access_all-agents_2...  bf4edcf969af
1  !vote_en.wikipedia.org_all-access_all-agents_2...  929ed2bf52b9
2  !vote_en.wikipedia.org_all-access_all-agents_2...  ff29d0f51d5c
3  !vote_en.wikipedia.org_all-access_all-agents_2...  e98873359be6
4  !vote_en.wikipedia.org_all-access_all-agents_2...  fa012434263a

'!vote_en.wikipedia.org_all-access_all-agents_2017-01-02'

(8703780, 2)

                                                Page            Id
0  007_スペクター_ja.wikipedia.org_all-access_all-agen...  0b293039387a
1  007_スペクター_ja.wikipedia.org_all-access_all-agen...  7114389dd824
2  007_スペクター_ja.wikipedia.org_all-access_all-agen...  057b02ff1f09
3  007_スペクター_ja.wikipedia.org_all-access_all-agen...  bd2aca21caa3
4  007_スペクター_ja.wikipedia.org_all-access_all-agen...  c0effb42cdd5

'007_スペクター_ja.wikipedia.org_all-access_all-agents_2017-09-14'

(8993906, 2)

In [20]:
sample_submission_1.head()
sample_submission_2.head()

             Id  Visits
0  bf4edcf969af       0
1  929ed2bf52b9       0
2  ff29d0f51d5c       0
3  e98873359be6       0
4  fa012434263a       0

             Id  Visits
0  0b293039387a       0
1  7114389dd824       0
2  057b02ff1f09       0
3  bd2aca21caa3       0
4  c0effb42cdd5       0

In [22]:
train_1.head()
train_1.shape

,Page,2015-07-01,2015-07-02,2015-07-03,2015-07-04,2015-07-05,2015-07-06,2015-07-07,2015-07-08,2015-07-09,...,2016-12-22,2016-12-23,2016-12-24,2016-12-25,2016-12-26,2016-12-27,2016-12-28,2016-12-29,2016-12-30,2016-12-31
0,2NE1_zh.wikipedia.org_all-access_spider,18.0,11.0,5.0,13.0,14.0,9.0,9.0,22.0,26.0,...,32.0,63.0,15.0,26.0,14.0,20.0,22.0,19.0,18.0,20.0
1,2PM_zh.wikipedia.org_all-access_spider,11.0,14.0,15.0,18.0,11.0,13.0,22.0,11.0,10.0,...,17.0,42.0,28.0,15.0,9.0,30.0,52.0,45.0,26.0,20.0
2,3C_zh.wikipedia.org_all-access_spider,1.0,0.0,1.0,1.0,0.0,4.0,0.0,3.0,4.0,...,3.0,1.0,1.0,7.0,4.0,4.0,6.0,3.0,4.0,17.0
3,4minute_zh.wikipedia.org_all-access_spider,35.0,13.0,10.0,94.0,4.0,26.0,14.0,9.0,11.0,...,32.0,10.0,26.0,27.0,16.0,11.0,17.0,19.0,10.0,11.0
4,52_Hz_I_Love_You_zh.wikipedia.org_all-access_s...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,48.0,9.0,25.0,13.0,3.0,11.0,27.0,13.0,36.0,10.0

(145063, 551)

In [25]:
train_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145063 entries, 0 to 145062
Columns: 551 entries, Page to 2016-12-31
dtypes: float64(550), object(1)
memory usage: 609.8+ MB

In [29]:
train_1_combined=pd.merge(key_1, train_1, on="Page")
train_1_combined.to_csv("train_1_combined.csv", index=False)

In [31]:
train_1_combined.head()

Empty DataFrame
Columns: [Page, Id, 2015-07-01, 2015-07-02, 2015-07-03, 2015-07-04, 2015-07-05, 2015-07-06, 2015-07-07, 2015-07-08, 2015-07-09, 2015-07-10, 2015-07-11, 2015-07-12, 2015-07-13, 2015-07-14, 2015-07-15, 2015-07-16, 2015-07-17, 2015-07-18, 2015-07-19, 2015-07-20, 2015-07-21, 2015-07-22, 2015-07-23, 2015-07-24, 2015-07-25, 2015-07-26, 2015-07-27, 2015-07-28, 2015-07-29, 2015-07-30, 2015-07-31, 2015-08-01, 2015-08-02, 2015-08-03, 2015-08-04, 2015-08-05, 2015-08-06, 2015-08-07, 2015-08-08, 2015-08-09, 2015-08-10, 2015-08-11, 2015-08-12, 2015-08-13, 2015-08-14, 2015-08-15, 2015-08-16, 2015-08-17, 2015-08-18, 2015-08-19, 2015-08-20, 2015-08-21, 2015-08-22, 2015-08-23, 2015-08-24, 2015-08-25, 2015-08-26, 2015-08-27, 2015-08-28, 2015-08-29, 2015-08-30, 2015-08-31, 2015-09-01, 2015-09-02, 2015-09-03, 2015-09-04, 2015-09-05, 2015-09-06, 2015-09-07, 2015-09-08, 2015-09-09, 2015-09-10, 2015-09-11, 2015-09-12, 2015-09-13, 2015-09-14, 2015-09-15, 2015-09-16, 2015-09-17, 2015-09-18, 2015-09-19, 2015-09-20, 2015-09-21, 2015-09-22, 2015-09-23, 2015-09-24, 2015-09-25, 2015-09-26, 2015-09-27, 2015-09-28, 2015-09-29, 2015-09-30, 2015-10-01, 2015-10-02, 2015-10-03, 2015-10-04, 2015-10-05, 2015-10-06, ...]
Index: []

[0 rows x 552 columns]

In [36]:
key_1.sample(5)
key_1["Page"][8019134]

                                                      Page            Id
4449061  Ragnar_Lodbrok_de.wikipedia.org_all-access_spi...  6a96d1055022
5551336  Verschleierungsverbot_de.wikipedia.org_desktop...  e95f3a8af92d
2619068  Help:Editing_pages/nb_www.mediawiki.org_mobile...  dfb199f1f561
879340   Category:Female_breast_flashing_commons.wikime...  08311ced1097
8689030  黎明_zh.wikipedia.org_desktop_all-agents_2017-01-11  3f159aa9c104

'片桐仁_ja.wikipedia.org_desktop_all-agents_2017-01-15'

In [73]:
train_1["Page"].sample(5)
train_1["Page"][64779]

117298    The_Royals_(Fernsehserie)_de.wikipedia.org_mob...
117369    Wellensittich_de.wikipedia.org_mobile-web_all-...
118592    Let’s_Dance_(Fernsehsendung)_de.wikipedia.org_...
39658     Zach_LaVine_en.wikipedia.org_all-access_all-ag...
109070         心裡的聲音_zh.wikipedia.org_mobile-web_all-agents
Name: Page, dtype: object

'吹吧，美風啊_zh.wikipedia.org_desktop_all-agents'

In [77]:
key_2["Page"][64189]

"2016_Australian_Open_–_Women's_Singles_en.wikipedia.org_desktop_all-agents_2017-10-02"

In [79]:
key_1["page_name"]=key_1["Page"].str.split('.wikipedia.org').str[0]

                                                Page            Id page_name
0  !vote_en.wikipedia.org_all-access_all-agents_2...  bf4edcf969af  !vote_en
1  !vote_en.wikipedia.org_all-access_all-agents_2...  929ed2bf52b9  !vote_en
2  !vote_en.wikipedia.org_all-access_all-agents_2...  ff29d0f51d5c  !vote_en
3  !vote_en.wikipedia.org_all-access_all-agents_2...  e98873359be6  !vote_en
4  !vote_en.wikipedia.org_all-access_all-agents_2...  fa012434263a  !vote_en

'!vote_en.wikipedia.org_all-access_all-agents_2017-01-01'

In [82]:
key_1.head()
key_1.shape
key_1["Page"][0]
key_1["Page"][1]

                                                Page            Id page_name
0  !vote_en.wikipedia.org_all-access_all-agents_2...  bf4edcf969af  !vote_en
1  !vote_en.wikipedia.org_all-access_all-agents_2...  929ed2bf52b9  !vote_en
2  !vote_en.wikipedia.org_all-access_all-agents_2...  ff29d0f51d5c  !vote_en
3  !vote_en.wikipedia.org_all-access_all-agents_2...  e98873359be6  !vote_en
4  !vote_en.wikipedia.org_all-access_all-agents_2...  fa012434263a  !vote_en

(8703780, 3)

'!vote_en.wikipedia.org_all-access_all-agents_2017-01-01'

'!vote_en.wikipedia.org_all-access_all-agents_2017-01-02'

In [84]:
key_1["Id"][0]

'bf4edcf969af'

In [104]:
filtered_df = train_1[train_1["Page"].str.contains(key_1["page_name"].iloc[0], case=False)]

In [105]:
filtered_df.head()

,Page,2015-07-01,2015-07-02,2015-07-03,2015-07-04,2015-07-05,2015-07-06,2015-07-07,2015-07-08,2015-07-09,...,2016-12-22,2016-12-23,2016-12-24,2016-12-25,2016-12-26,2016-12-27,2016-12-28,2016-12-29,2016-12-30,2016-12-31
8357,!vote_en.wikipedia.org_desktop_all-agents,3.0,4.0,7.0,4.0,4.0,2.0,3.0,7.0,2.0,...,3.0,1.0,6.0,3.0,1.0,1.0,3.0,3.0,1.0,0.0
32275,!vote_en.wikipedia.org_all-access_spider,0.0,0.0,1.0,2.0,0.0,1.0,0.0,0.0,2.0,...,2.0,0.0,2.0,2.0,0.0,0.0,1.0,1.0,1.0,0.0
37206,!vote_en.wikipedia.org_all-access_all-agents,3.0,4.0,7.0,4.0,4.0,2.0,3.0,7.0,2.0,...,3.0,1.0,6.0,3.0,1.0,1.0,4.0,3.0,1.0,1.0

In [112]:
key_1["Page"][0]
train_1.loc[0][-1]
train_1.iloc[:, -1].name

'!vote_en.wikipedia.org_all-access_all-agents_2017-01-01'

C:\Users\Admin\AppData\Local\Temp\ipykernel_12292\1025119059.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  train_1.loc[0][-1]

20.0

'2016-12-31'

In [113]:
train_1.head()

,Page,2015-07-01,2015-07-02,2015-07-03,2015-07-04,2015-07-05,2015-07-06,2015-07-07,2015-07-08,2015-07-09,...,2016-12-22,2016-12-23,2016-12-24,2016-12-25,2016-12-26,2016-12-27,2016-12-28,2016-12-29,2016-12-30,2016-12-31
0,2NE1_zh.wikipedia.org_all-access_spider,18.0,11.0,5.0,13.0,14.0,9.0,9.0,22.0,26.0,...,32.0,63.0,15.0,26.0,14.0,20.0,22.0,19.0,18.0,20.0
1,2PM_zh.wikipedia.org_all-access_spider,11.0,14.0,15.0,18.0,11.0,13.0,22.0,11.0,10.0,...,17.0,42.0,28.0,15.0,9.0,30.0,52.0,45.0,26.0,20.0
2,3C_zh.wikipedia.org_all-access_spider,1.0,0.0,1.0,1.0,0.0,4.0,0.0,3.0,4.0,...,3.0,1.0,1.0,7.0,4.0,4.0,6.0,3.0,4.0,17.0
3,4minute_zh.wikipedia.org_all-access_spider,35.0,13.0,10.0,94.0,4.0,26.0,14.0,9.0,11.0,...,32.0,10.0,26.0,27.0,16.0,11.0,17.0,19.0,10.0,11.0
4,52_Hz_I_Love_You_zh.wikipedia.org_all-access_s...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,48.0,9.0,25.0,13.0,3.0,11.0,27.0,13.0,36.0,10.0

In [116]:
train_1.isnull().sum()
train_1.shape

Page              0
2015-07-01    20740
2015-07-02    20816
2015-07-03    20544
2015-07-04    20654
              ...
2016-12-27     3701
2016-12-28     3822
2016-12-29     3826
2016-12-30     3635
2016-12-31     3465
Length: 551, dtype: int64

(145063, 551)

ModuleNotFoundError: No module named 'seaborn'