Ultimately create a strong ensemble of random forest, xgboost and arima in this file

Working on UCI Online Retail dataset since dataset of website visits had only 550 values per page

In [2]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_excel(r"D:\Rohan\ML\Datasets\Online Retail\Online Retail.xlsx")

In [85]:
df.sample(5)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
437485,574295,21137,BLACK RECORD COVER FRAME,84,2011-11-03 15:47:00,3.39,17389.0,United Kingdom
301636,563350,23301,GARDENERS KNEELING PAD KEEP CALM,4,2011-08-15 14:10:00,1.65,14498.0,United Kingdom
439414,574474,23480,MINI LIGHTS WOODLAND MUSHROOMS,2,2011-11-04 12:05:00,3.75,17979.0,United Kingdom
494741,578270,21231,SWEETHEART CERAMIC TRINKET BOX,10,2011-11-23 13:39:00,2.46,14096.0,United Kingdom
63055,541518,85099F,JUMBO BAG STRAWBERRY,20,2011-01-19 09:05:00,1.95,12451.0,Switzerland

In [68]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

In [72]:
df = df.drop_duplicates()

In [73]:
df["Description"][0]

'WHITE HANGING HEART T-LIGHT HOLDER'

In [74]:
df["CustomerID"][0]

17850.0

In [69]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64